<div class="card">
    <div class="top-card-container">
        <h2>{{drinkTitle}}</h2>
        <h3>{{cafeName}}</h3>
        <h4>{{location}}</h4>
        <span class="star">{{rating}}</span><span class="star-empty">{{ratingRemainder}}</span>
    </div>
    <div class="text-card-container">
        <p>{{comments}}</p>
    </div>
    <div class="button-card-container">
        <button type="button" class="edit">Edit</button>
        <button type="button" class="delete">Delete</button>
    </div>
</div>